* {box-sizing: border-box;}

figure {
    display: inline-block;
}

figure figcaption {
    text-align: center;
}

.img-zoom-container {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
} 

.img-zoom-container img {
    border: 1px solid #d4d4d4;
    height: 228px;
}

.img-zoom-lens {
    position: absolute;
    border: 3px;
    border-color:yellow;
    
    width: 80px;
    height: 80px;
}

.img-zoom-result {
    display: inline-flex;
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 228px;
    height: 228px;
}
